.header {
    background-color: rgba(71, 90, 80, 0.911);
    font-family: 'Gruppo', sans-serif;

    .header__container {
        max-width: 1100 px;
        margin: 0 auto;
        padding: 20px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .header__logo {
            font-size: 40px;
            font-weight: 700;
            color: beige;
        }

        .navbar {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;

            .navbar__link {
                text-decoration: none;
                color: beige;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}