.contenedor-tarjetas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
}

.tarjeta {
    width: 16rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.tarjeta .card-body {
    flex: 1;
}